<% if @task.children.count > 0 %>

<div class="container mx-auto my-2 px-4">
  <div class="max-w-10xl mx-auto">
    <h4><%= t('subtask') %></h4>
    <div class="flex justify-between items-center mb-4">
      <table  class="table table-striped flex flex-wrap bg-white rounded shadow">
        <thead>
          <tr>
            <th><%= t('work') %></th>
            <th><%= t('due_date') %></th>
            <th><%= t('end_date') %></th>
            <th><%= t('status') %></th>
          </tr>
        </thead>

        <tbody>

          <% @task.children.each do |task| %>
            <tr data-link="<%= task_path(task) %>">
              <td><%= render_svg "#{task.work.icon.code}", styles: "fill-current icon-lg mr-80 text-gray-600 inline-block" %> 
                <%= task.work.display_name if task.work_id? %>
              <td><%= task.due_date  %></td>
              <td><%= task.end_date  %></td>
              <td><%= badge "#{@task.aasm_state}", class: "ml-3" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% end %>
