
  <div class="container mx-auto my-10 px-2 " >

    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= t('tasks') %></h1>

        <%= link_to new_task_path, data: { turbolinks: false } do %>
              <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        <% end %>
    </div>

    <% if browser.device.mobile? %>

        <div class="bg-white rounded shadow table-responsive p-2">
          <table id="tasks" class="table table-striped table-bordered" >
            <thead>
              <tr>
              
              </tr>
            </thead> 
            <tbody>
            <% @tasks.each do |task| %>
              <tr data-link="<%= task_path(task) %>", 
                  class="group border-t border-gray-400 hover:bg-gray-100">
                <td class="p-2">
                  <%= link_to task_path(task), class: 'btn btn-primary', data: {toggle: :tab} do %>
                      <%= task.work.display_name %> 
                  <% end %>  
                  <%= link_to task.id, task_path(task), class: 'btn btn-primary ' %>
                  <%= task.customer.name if task.customer_id? %>
                  <%= task.user_ref %>
                  <% if task.heading? %>
                    <%= task.heading %>
                  <% end %><br>
                  <%= task.start_date %> (<%= task.due_date.strftime('%m-%d') if task.due_date %> ) 
                  <%= task.end_date.strftime('%m-%d') if task.end_date %> 
                   <b><%= task.aasm_state %></b>                  
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

    <% else %>
      <% if @tasks.exists? %>

        <div class="bg-white rounded shadow table-responsive p-2">
          <table id="tasks" class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('work') %></th>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('customer') %></th>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('heading') %></th>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('start_date') %></th>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('due_date') %></th>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('end_date') %></th>
                <th class="p-2 uppercase text-left text-sm text-gray-700"><%= t('status') %></th>
              </tr>
            </thead>

            <tbody>
            <% @tasks.each do |task| %>
              <tr data-link="<%= task_path(task) %>", 
                  class="group border-t border-gray-400 hover:bg-gray-100">
                    <td class="p-2">
                      <%= link_to '#', class: 'btn btn-primary ', data: {toggle: :tab} do %>
                        <%= task.work.display_name %> 
                       <% end %>
                       <%= link_to task.id, task_path(task), class: 'btn btn-primary ' %>
                    </td>
                    <td class="p-2"><%= task.customer.name if task.customer_id? %><br><%= task.user_ref %></td>

                    <td class="p-2"><%= task.heading %><br><%= task.locatin %></td>

                    <td class="p-2"><%= task.start_date %></td>
                    <td class="p-2"><%= task.due_date.strftime('%m-%d') if task.due_date %></td>
                    <td class="p-2"><%= task.end_date.strftime('%m-%d') if task.end_date %></td>
                    <td class="p-2"><b><%= task.aasm_state %></b></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      <% else %>
        <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
          <%= image_tag "task.jpg", class: "mb-4 lg:w-1/2" %>
          <div class="flex-1 text-center">
            <p class="h3 mb-4">Create your first Task</p>
            <%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
