
<%= simple_form_for(@taskitem) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :task_id %>
    <%= f.association :workitem, collection: Workitem.where("work_id = ?", @taskitem.task.work_id) %>
    <%= f.input :model %>
    <%= f.input :serial_number %>
    <%= f.input :rating, collection: Taskitem.ratings.keys %>
    <%= f.input :remarks %>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-success">
      <i class="fa fa-save fa-2x"></i>
    </button>
  </div>
<% end %>
