<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Taskitems</h1>

    <% if @taskitems.exists? %>
      <%= link_to 'New Taskitem', new_taskitem_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @taskitems.exists? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Task</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Workitem</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Model</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Serial number</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Rating</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Remarks</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @taskitems.each do |taskitem| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= taskitem.task_id %></td>
                      <td class="p-3"><%= taskitem.workitem_id %></td>
                      <td class="p-3"><%= taskitem.model %></td>
                      <td class="p-3"><%= taskitem.serial_number %></td>
                      <td class="p-3"><%= taskitem.rating %></td>
                      <td class="p-3"><%= taskitem.remarks %></td>
          
            <td>
              <%= link_to "View", taskitem, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Taskitem</p>
        <%= link_to 'New Taskitem', new_taskitem_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
