<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3"><%= t('works') %></h1>

    <% if @works.exists? %>
      <%= link_to new_work_path, data: { turbolinks: false } do %>
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

  <% if @works.exists? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-sm text-gray-700"><%= t('code') %></th>
            <th class="p-3 uppercase text-left text-sm text-gray-700"><%= t('name') %></th>
            <th class="p-3 uppercase text-left text-sm text-gray-700"><%= t('local_name') %></th>
            <th class="p-3 uppercase text-left text-sm text-gray-700"><%= t('workflow') %></th>
          </tr>
        </thead>

        <tbody>
        <% @works.each do |work| %>
          <tr data-link="<%= work_path(work) %>", 
              class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= work.code %></td>
                      <td class="p-3"><%= work.name %></td>
                      <td class="p-3"><%= work.local_name %></td>
                      <td class="p-3"><%= work.workflow.display_name %></td>          
            <td>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "engineering_icons.jpg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Work</p>
        <%= link_to 'New Work', new_work_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
