
<%= simple_form_for(@photo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :photoable %>
    <%= f.input :category %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :altitude %>
    <%= f.input :photo_datetime %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
